<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997675183140-60nhhjscjr39su87j2b6vk0gogc9igou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997675183140-60nhhjscjr39su87j2b6vk0gogc9igou</string>
	<key>API_KEY</key>
	<string>AIzaSyBzDPpMX4IjgKkwn4GhR7T1m6lvr35VmJA</string>
	<key>GCM_SENDER_ID</key>
	<string>997675183140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahgenc.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-20a61</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-20a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997675183140:ios:04c95c390d8bcdc4647cb1</string>
</dict>
</plist>